h4{
    padding-left: 40%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    padding-left: 40%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid purple;
    background-color: rgb(255, 214, 164);
   
  }

  body{
      background-image:url(https://krot.info/uploads/posts/2021-02/1613582428_17-p-svetlii-fon-s-yedoi-19.jpg) ;
      background-size: 100%;
      background-repeat:inherit;
  }

  .preview{
      background-color: bisque;
      background-size: 100%;
      
  }

  h1{
    padding-left: 40%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    border-bottom: 0px;
  }

  h2{
    padding-left: 41%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: rgb(122, 245, 103);
  }
.product {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 90px;
	display: flex;
	font-size: 18px;
	height: 23px;
	overflow: hidden;
}
.productCurrent {
	width: 30px;
    text-align: center;
}
.productControl {
	width: 30px;
	cursor: pointer;
	text-align: center;
}
.details{

}
.productControl:hover {
    background: #eb5a1e;
    color: #FFF;
}
.productCard{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem}
.col-md-5{
	-ms-flex:0 0 41.666667%;
	flex:0 0 41.666667%;
	max-width:41.666667%
}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}
.product-img {
	width: 265px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}