h4{
    padding-left: 35%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    padding-left: 15%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


body{
    background-image:url(https://krot.info/uploads/posts/2021-02/1613582428_17-p-svetlii-fon-s-yedoi-19.jpg) ;
    background-size: cover;
    background-repeat:inherit;
}

.preview{
    background-color: bisque;
    background-size: 100%;  
}

h1{
    padding-left: 40%;
    padding-top: 10px;
    font-family: helvetica;
    text-transform: uppercase;
    color: #fefefe;
    text-shadow:#6ac918 1px 2px 0,
                rgb(105, 234, 91) 2px 3px 1px,
                rgb(100, 233, 64) 4px 5px 5px;
}
  
h2{
    padding-left: 43%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    background-color: rgb(122, 245, 103);
    color: #ffffff;
    text-shadow:#448c06 1px 2px 0,
                rgb(99, 209, 99) 2px 3px 1px,
                rgb(92, 200, 62) 4px 5px 5px;
  }

.colBox{
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%
}

.product{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:5%;
    -moz-box-shadow: 0px 0px 14px #faed27; 
    -webkit-box-shadow: 0px 0px 14px #faed27; 
    box-shadow: 0px 0px 14px #faed27; 
    
}

.productBody{
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:1.25rem
}

.productImg {
	width: 190px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.colData{
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%
}

.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    
}

.boxImg{
	max-width: 100px;
	height: auto;
}

.boxItem {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
}

.boxDesc {
	padding-top: 15px;
	padding-left: 15px;
	max-width: 208px;
}

.boxTitle {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.boxButtons {
    padding-top: 10px;
}

.counterImg{
    width: 250px ;
    padding-left: 25%;
    padding-top: 20px;
}



